@model IEnumerable<WebsiteBanCafe.Models.MMenu>
<footer class="" style="background-color:#A2855D;height:200px;margin-top:-20px;padding-top:15px">
    <div class="row container-91 my-4">
        <div class="col-3">
            <img src="https://www.spectos.com/wp-content/uploads/2019/09/logo-the-coffee-house-white-150x91.png" />
        </div>

        <div class="col-3" style=";color:white">
            <div class="title text-uppercase font-weight-bold" style="font-size:110%;color:white">ABOUT</div>

            Hạt Cà Phê <br />The Coffee House<br />
            Blog<br />
            Cơ Hội Nghề Nghiệp<br />
            Cửa Hàng

        </div>
        <div class="col-3">
            <img src="//theme.hstatic.net/1000075078/1000610097/14/gov.png?v=662" style="width:80%" />
        </div>
        
        <div class="col-3" style=";color:white">
            <div class="title font-weight-bold mb-2" style="font-size:110%;color:white">ĐỊA CHỈ</div>
            86 - 88 Cao Thang, Ward 4, District 3,<br /> Ho Chi Minh, Vietnam.<br />
            Head Office 2: 62 Tran Quang Khai, Tan Dinh Ward, District 1 Ho Chi Minh, Vietnam.<br />

            +842871 078 079<br />

            hi@thecoffeehouse.vn

        </div>

    </div>

</footer>
