@model IEnumerable <WebsiteBanCafe.Models.MPost>
<div class="row clearfix container-91" >
    <div class="col-sm-3 p-0 m-0" >
        @Html.Action("Categories", "Module")
    </div>
    <div class="col-sm-7 slider" >
        @Html.Action("SlideShow", "Module")
    </div>
    
</div>

